.body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff; 
}
.loader-container {
   display: flex;
  align-items: center;
  justify-content: center;

}
.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  ); 
  color: #000; 
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  height: 100%; 
}

.button:hover:not(:disabled) {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); 
}

.button:disabled {
  cursor: not-allowed; 
  background-color: #ccc; 
  box-shadow: none; 
}
